body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container form {
  width: 90%;
  max-width: 800px;
  padding: 2rem;
  background-color: #000000;
  color: #ffffff;
  margin-top: 2rem;
}

.container h2 {
  text-align: left;
  margin-bottom: 2rem;
  color: #ffffff;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #222222;
  color: #ffffff;
  border: none;
}

.container button[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  background-color: #333333;
  color: #ffffff;
  border: none;
}

.container p.error {
  color: #ff0000;
}

.container p.success {
  color: #00ff00;
}
